/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "vars";
 
 @import "font-awesome";
 @import "comments.css.scss";
 @import "friends.css.scss";
 @import "password_resets.css.scss";
 @import "posts.css.scss";
 @import "posttags.css.scss";
 @import "scaffolds.css.scss";
 @import "tags.css.scss";
 @import "users.css.scss";
// don't want font-awesome symbols underlined
[class^="icon-"] {
	text-decoration: none;
}

//make the Twitter bird blue!
.icon-twitter {
	color: $twitter-blue;
	&:hover {
		color: #FFF;
		background-color: $twitter-blue;
	}
}

//make the Facebook F blue!
.icon-facebook {
	color: $facebook-blue;
	&:hover {
		color: #FFF;
		background-color: $facebook-blue;
	}
}

nav {
	display: block;
	ul li {
		display: inline;
		overflow: hidden;
		float: left;
		border-right: 1px solid gray;
		padding: 0 10px;
		&:last-child{
			border-right: none;
		}
	}
}

.clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

a img {
	border: none;
	vertical-align: top;
}