// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'vars';
#post-file-field {
	display: none;
}

[class^="_post"] {
	float: left;
	.content-area {
		margin-left: 55px;
		margin-top: -60px;
		border-bottom: 1px solid gray;
		p {
			margin: 2px;
		}
	}
}
.post-comment {
	.content-area {
		margin-top: -40px;
		margin-left: 45px;
	}
}

[id^="post"][id$="-new-comment"] {
	display: none;
}

.twitter-background {
	background-color: $twitter-blue;
	nav {
		background-color: darken($twitter-blue, 10%);
	}
}