// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#gravatar-link {
	position: relative;
	&:hover{
		&:before {
		content: "\f08e";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: none;
		color: #000;
		color: rgba(0, 0, 0, 0.5);
		font-size: 150px;
		position: absolute;
		bottom: -85px;
		right: 0;
		}
	}
}

